* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0px 20px;
}
body {
	background-color: #ecf2f7;
}

.box {
	max-width: 1200px;
	width: 100%;
	min-height: 250px;

	margin: 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"box__one box__one  box__two box__three"
		"box__four box__five box__five box__three";
	gap: 20px;

	.box__one {
		border-radius: 10px;
		background-color: rgb(115, 63, 199, 0.8);
		grid-area: box__one;

		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.avatar {
			display: flex;
			align-items: center;
			gap: 30px;

			&__img {
				border-radius: 50%;
				border: 2px solid rgb(175, 169, 169);
			}

			&__per {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&__name {
				font-family: sans-serif;
				font-style: normal;
				font-size: 18px;
				line-height: 18px;
				font-weight: 600;

				color: #fff;
			}
			&__desc {
				font-family: sans-serif;
				font-style: normal;
				font-size: 14px;
				line-height: 16px;
				font-weight: 400;

				color: #fff;
				opacity: 0.6;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.box__title {
				font-family: sans-serif;
				font-style: normal;
				font-size: 20px;
				line-height: 24px;
				font-weight: 600;

				color: #fff;
				opacity: 0.8;
			}
			.box__description {
				font-family: sans-serif;
				font-style: normal;
				font-size: 14px;
				line-height: 18px;
				font-weight: 400;

				color: rgb(249, 243, 243);
				opacity: 0.6;
			}
		}
	}
	.box__two,
	.box__three,
	.box__four,
	.box__five {
		border-radius: 10px;
		background-color: #49556a;
		grid-area: box__two;

		padding: 30px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.avatar {
			display: flex;
			align-items: center;
			gap: 30px;

			&__img {
				border-radius: 50%;
				border: 2px solid rgb(175, 169, 169);
			}

			&__per {
				display: flex;
				flex-direction: column;
				gap: 4px;
			}
			&__name {
				font-family: sans-serif;
				font-style: normal;
				font-size: 18px;
				line-height: 18px;
				font-weight: 600;

				color: #fff;
			}
			&__desc {
				font-family: sans-serif;
				font-style: normal;
				font-size: 14px;
				line-height: 16px;
				font-weight: 400;

				color: #fff;
				opacity: 0.6;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.box__title {
				font-family: sans-serif;
				font-style: normal;
				font-size: 20px;
				line-height: 24px;
				font-weight: 600;

				color: #fff;
				opacity: 0.8;
			}
			.box__description {
				font-family: sans-serif;
				font-style: normal;
				font-size: 14px;
				line-height: 18px;
				font-weight: 400;

				color: rgb(249, 243, 243);
				opacity: 0.6;
			}
		}
	}
	.box__three,
	.box__four {
		border-radius: 10px;
		background-color: #fff;
		grid-area: box__three;

		.avatar {
			&__name {
				color: #000;
			}
			&__desc {
				color: #000;
				opacity: 0.6;
			}
		}
		.content {
			.box__title {
				color: #000;
				opacity: 0.8;
			}
			.box__description {
				color: #000;
				opacity: 0.6;
			}
		}
	}
	.box__four {
		border-radius: 10px;
		background-color: #fff;
		grid-area: box__four;
	}
	.box__five {
		border-radius: 10px;
		background-color: rgb(26, 33, 46);
		grid-area: box__five;
	}
}

@media only screen and (max-width: 1100px) {
	.box {
		max-width: 100vw;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-template-areas:
			"box__one box__one "
			"box__two box__three"
			"box__four box__three"
			"box__five box__five";
	}
}

@media only screen and (max-width: 768px) {
	.box {
		max-width: 100vw;

		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"box__one  "
			"box__two "
			"box__four "
			"box__five "
			"box__three";
	}
}
